<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

</head>
<body>

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Выберите что-нибудь</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Индексная страница</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">К флексикам</a></li>
            <li><a class="dropdown-item" href="#">К кринжоликам</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">На индекс</a></li>
          </ul>
        </li>

      </ul>



    </div>
  </div>
</nav>
<div class="container">
  <form th:object="${crinjolique}" action="save" method="post" class="d-flex flex-column align-items-center">
    <div class="mb-3">
      <label for="title">Имя кринжа</label>
      <input class="form-control"  type="text" th:field="*{isCringe}" id="title"/>
      <div th:if="${#fields.hasErrors('isCringe')}" th:errors="*{isCringe}"></div>
    </div>
    <div class="mb-3">
      <label for="sub">Кринжовиность</label>
      <input class="form-control"  type="text" th:field="*{crinjeModifier}" id="sub" />
      <div th:if="${#fields.hasErrors('crinjeModifier')}" th:errors="*{crinjeModifier}"></div>
    </div>
    <div class="mb-3">
      <label for="type">Вариация кринжа</label>
      <input class="form-control"  type="text" th:field="*{crinjeCount}" id="type" />
      <div th:if="${#fields.hasErrors('crinjeCount')}" th:errors="*{crinjeCount}"></div>
    </div>
    <div class="mb-3">
      <label for="aboba">Адрес кринжа</label>
      <input class="form-control"  type="text" th:field="*{eshePole}" id="aboba" />
      <div th:if="${#fields.hasErrors('eshePole')}" th:errors="*{eshePole}"></div>
    </div>
    <div class="mb-3">
      <label for="flexStatus">Статус Кринжа</label>
      <input class="form-control"  type="text" th:field="*{esheodnoPole}" id="flexStatus" />
      <div th:if="${#fields.hasErrors('esheodnoPole')}" th:errors="*{esheodnoPole}"></div>
    </div>
    <div class="mb-3">
      <select class="form-select" aria-label="Прикрепленный флекс"  name="selectilca">
        <div class="col-md-3" th:each="el : ${flex}">
          <option th:value="${el.id}" th:text="${el.flexTitle}"/>
        </div>
      </select>
    </div>
    <button  type="submit" class="btn btn-primary">Создать кринжовинку</button>
  </form>
</div>
</body>
</html>